<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vaya_group.telegram_stickers"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:permission=""
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >
        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".first_menu"></activity>

        <activity android:name=".hints"></activity>
        <activity android:name=".hintlist"></activity>
        <activity android:name=".contact"></activity>

        <activity android:name=".categories"></activity>
        <activity android:name=".channels"></activity>

        <activity android:name=".animals"></activity>
        <activity android:name=".animals1"></activity>
        <activity android:name=".animals2"></activity>
        <activity android:name=".animals3"></activity>
        <activity android:name=".animals4"></activity>
        <activity android:name=".animals5"></activity>
        <activity android:name=".animals6"></activity>
        <activity android:name=".animals7"></activity>
        <activity android:name=".animals8"></activity>
        <activity android:name=".animals9"></activity>
        <activity android:name=".animals10"></activity>
        <activity android:name=".animals11"></activity>
        <activity android:name=".animals12"></activity>
        <activity android:name=".animals13"></activity>
        <activity android:name=".animals14"></activity>
        <activity android:name=".animals15"></activity>
        <activity android:name=".animals16"></activity>
        <activity android:name=".animals17"></activity>
        <activity android:name=".animals18"></activity>
        <activity android:name=".animals19"></activity>
        <activity android:name=".animals20"></activity>
        <activity android:name=".animals21"></activity>
        <activity android:name=".animals22"></activity>

        <activity android:name=".movies"></activity>
        <activity android:name=".movies1"></activity>
        <activity android:name=".movies2"></activity>
        <activity android:name=".movies3"></activity>
        <activity android:name=".movies4"></activity>
        <activity android:name=".movies5"></activity>
        <activity android:name=".movies6"></activity>
        <activity android:name=".movies7"></activity>
        <activity android:name=".movies8"></activity>
        <activity android:name=".movies9"></activity>
        <activity android:name=".movies10"></activity>
        <activity android:name=".movies11"></activity>
        <activity android:name=".movies12"></activity>
        <activity android:name=".movies13"></activity>
        <activity android:name=".movies14"></activity>
        <activity android:name=".movies15"></activity>
        <activity android:name=".movies16"></activity>
        <activity android:name=".movies17"></activity>

        <activity android:name=".sports"></activity>
        <activity android:name=".sports1"></activity>
        <activity android:name=".sports2"></activity>
        <activity android:name=".sports3"></activity>
        <activity android:name=".sports4"></activity>
        <activity android:name=".sports5"></activity>
        <activity android:name=".sports6"></activity>
        <activity android:name=".sports7"></activity>
        <activity android:name=".sports8"></activity>
        <activity android:name=".sports9"></activity>
        <activity android:name=".sports10"></activity>

        <activity android:name=".videogames"></activity>
        <activity android:name=".videogames1"></activity>
        <activity android:name=".videogames2"></activity>
        <activity android:name=".videogames3"></activity>
        <activity android:name=".videogames4"></activity>
        <activity android:name=".videogames5"></activity>
        <activity android:name=".videogames6"></activity>
        <activity android:name=".videogames7"></activity>
        <activity android:name=".videogames8"></activity>
        <activity android:name=".videogames9"></activity>
        <activity android:name=".videogames10"></activity>
        <activity android:name=".videogames11"></activity>
        <activity android:name=".videogames12"></activity>
        <activity android:name=".videogames13"></activity>
        <activity android:name=".videogames14"></activity>
        <activity android:name=".videogames15"></activity>
        <activity android:name=".videogames16"></activity>
        <activity android:name=".videogames17"></activity>

        <activity android:name=".love"></activity>
        <activity android:name=".love1"></activity>
        <activity android:name=".love2"></activity>
        <activity android:name=".love3"></activity>
        <activity android:name=".love4"></activity>
        <activity android:name=".love5"></activity>
        <activity android:name=".love6"></activity>
        <activity android:name=".love7"></activity>

        <activity android:name=".cartoons"></activity>
        <activity android:name=".cartoons1"></activity>
        <activity android:name=".cartoons2"></activity>
        <activity android:name=".cartoons3"></activity>
        <activity android:name=".cartoons4"></activity>
        <activity android:name=".cartoons5"></activity>
        <activity android:name=".cartoons6"></activity>
        <activity android:name=".cartoons7"></activity>
        <activity android:name=".cartoons8"></activity>
        <activity android:name=".cartoons9"></activity>
        <activity android:name=".cartoons10"></activity>
        <activity android:name=".cartoons11"></activity>
        <activity android:name=".cartoons12"></activity>
        <activity android:name=".cartoons13"></activity>
        <activity android:name=".cartoons14"></activity>
        <activity android:name=".cartoons15"></activity>

        <activity android:name=".others"></activity>
        <activity android:name=".others1"></activity>
        <activity android:name=".others2"></activity>
        <activity android:name=".others3"></activity>
        <activity android:name=".others4"></activity>
        <activity android:name=".others5"></activity>
        <activity android:name=".others6"></activity>
        <activity android:name=".others7"></activity>
        <activity android:name=".others8"></activity>
        <activity android:name=".others9"></activity>
        <activity android:name=".others10"></activity>

        <activity android:name=".hint1"></activity>
        <activity android:name=".hint2"></activity>
        <activity android:name=".hint3"></activity>
        <activity android:name=".hint4"></activity>
        <activity android:name=".hint5"></activity>
        <activity android:name=".hint6"></activity>
        <activity android:name=".hint7"></activity>
        <activity android:name=".hint8"></activity>
        <activity android:name=".hint9"></activity>
        <activity android:name=".hint10"></activity>
        <activity android:name=".hint11"></activity>
        <activity android:name=".hint12"></activity>
        <activity android:name=".hint13"></activity>
        <activity android:name=".hint14"></activity>
        <activity android:name=".hint15"></activity>
        <activity android:name=".hint16"></activity>
        <activity android:name=".hint17"></activity>
        <activity android:name=".hint18"></activity>
        <activity android:name=".hint19"></activity>
        <activity android:name=".hint20"></activity>

        <activity android:name=".channelsF"></activity>
        <activity android:name=".channelsI"></activity>


        //---Services----///
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>


        </service>










    </application>

</manifest>